.large-font {
    font-size: 115%;
}

.card-columns {
  column-count: 2;
}

.search-col {
    flex: 0 0 28%;
    max-width: 28%;
}
.search-bar {
    max-width: 28%;
    position: absolute;
    top: 0px;
    background-color: white;
    z-index: 1;
}
.border-10{
    border-style:solid;
     border-width: 2px;
     border-color: #E5E5E5;
 }

 .header {
    background-color: #5F54F2;
    height: 4.5em;
    border-width: .35em;
    border-bottom-style: solid;
    border-color: #4E48BE;
    width: 100%;
    position: absolute;
    z-index: -1;
 }

 .header-mobile {
    background-color: #5F54F2;
    height: 4.5em;
    border-width: .35em;
    border-bottom-style: solid;
    border-color: #4E48BE;
    color: white;
    width: 100%;
 }

 .header-text {
    color: white;
 }

 .header-div {
    min-height: 4.5em;
 }

 .header-sub {
    margin-top: -0.1em;
    font-size: 90%;
    font-weight: bold;
    color: #F2EFEF;
 }

 .search-icon {
    max-height: 2em;
    position: absolute;
    top: 1em;
    left: .5em;
 }

 .mh-100 {
    min-height: 100%;
 }

 .content {
     margin-top: 6em;
 }

#app, html, body {
    height: 100%;
}

@media (max-width: 991.98px) {
    .card-columns {
      column-count: 1;
    }
}

@media (max-width: 991.98px) {
    .search-col {
      column-count: 1;
    }
}
